
<header class="d-flex justify-content-center py-3 bg-body-tertiary ">
  <ul class="nav nav-pills blog-header-logo">
    <li><a href="/" class="nav-link px-2 text-white" >Home</a></li>
      <li><a href="/all" class="nav-link px-2 text-white">All</a></li>
      <li><a href="/article/create" class="nav-link px-2 text-white">Create</a></li>
      <li><a href="/category/create" class="nav-link px-2 text-white">Category</a></li>
  </ul>
</header>
<header class="py-3 mb-4 border-bottom text-bg-dark">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="navbar-brad"><img src="/static/logo/ruby.png"></span>
    </a>
    {% if session["user"] %}
      <h1 class="text-light py-2 border-bottom me-3 mt-4">{{ session["user"]["email"] }}</h1>
      {% if session["user"] %}<a href="/logout" class="nav-link text-white me-s-3 mt-5 py-2" >Logout</a>{% endif %}
    {% else %}
      <h2><a href="/sign-up" class="nav-link px--1  text-white me-5 mt-5" >Sign up</a></h2>
      <h2><a href="/sign-in" class="nav-link px--1  text-white me-5 mt-5" >Sign in</a></h2>
    {% endif%}
  </div>
</header>




<!-- <header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="/all" class="nav-link px-2 text-white">All</a></li>
        <li><a href="/article/create" class="nav-link px-2 text-white">Create</a></li>
        <li><a href="/category/create" class="nav-link px-2 text-white">Category</a></li>
      </ul>


      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header> -->


<!-- <nav class="navbar navbar-expand-lg navbar-dark text-bg-dark fixed-top" id="mainNav">
  <div class="container">
      <a class="navbar-brand" href="#page-top"><img src="static/img/header-bg.jpg" alt="..." /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
            <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="/all" class="nav-link px-2 text-white">All</a></li>
            <li><a href="/article/create" class="nav-link px-2 text-white">Create</a></li>
            <li><a href="/category/create" class="nav-link px-2 text-white">Category</a></li>
          </ul>
      </div>
  </div>
</nav> -->
