footer {
    background-color: rgba(4, 4, 4, 0.915);
    padding-top: 50px;
    border-top: 4px solid silver;
    color: white;
}

.social a {
    font-size: 4em;
    padding: 10px;
}

.fa-facebook {color: rgb(22, 47, 238);}
.fa-telegram {color: rgb(78, 96, 234);}
.fa-twitter {color: rgb(22, 47, 238);}
.fa-instagram {color: rgb(218, 19, 141);}
.fa-youtube {color: rgb(255, 0, 8);}

.fa-facebook:hover, .fa-instagram:hover,
.fa-twitter:hover, .fa-telegram:hover,
.fa-youtube:hover {
    color: #ccc;
}

.bg-body-tertiary {
    background-color: rgba(0, 0, 0, 0.975);
    padding-top: 50px;
    color: rgb(223, 17, 17);
}

.cl {
    background-color: rgba(240, 209, 209, 0.915);
}


.cle {
    background-image: url(/static/logo/category.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.clup {
    background-image: url(/static/logo/sign.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cla {
    background-image: url(/static/logo/art.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.clin {
    background-image: url(/static/logo/sign-up.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar-brad img {width: 120px;}


.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
}


.badge{
    max-width: 500%;
    max-height: 500px;
    margin-bottom: 0px;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
}

.car-cen {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform:translate(0, -50%);
}
